#p{
    color: skyblue;
}

p{
    color: skyblue
}

.datacell{    
    height: 5em;
    margin: 20px;
}

#submit-btn{
    background-color: rgb(34, 75, 255);
    border-color:  rgb(34, 75, 255);
    color: white;
}